* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Consolas, monaco, monospace;
}

html,
body {
    background: #0F0F0F;
    color: #fff;
    scrollbar-width: none;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: hidden;
}

a {
    text-decoration: unset;
    color: #fff
}

nav {
    padding: 1rem 1rem;
    position: fixed;
    z-index: 10;
    transition: all 0.25s ease-in-out;
    background-color: rgba(15, 15, 15, 0.25);
    width: 100vw;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.navfil {
    background-color: rgba(30, 30, 30, 1);
    backdrop-filter: blur(unset);
    -webkit-backdrop-filter: blur(unset);
}

.prog {
    border-bottom: 5px solid #fff;
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
}

li {
    float: left;
    padding-right: 5vw;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
}

.hero .highlight {
    /* font-weight: 700; */
    background-image: linear-gradient(to top right, hsl(300, 100%, 50%), hsl(180, 100%, 50%));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#main1 {
    background-position: center top;
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.hero {
    padding: 10vw 15vw 5vw 5vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.hero * {
    position: relative;
    align-items: center;
    text-shadow: 0 0 5px #ffffff75;
}

.hero h1 {
    font-size: 7.5rem;
    font-weight: 300;
    padding-top: 7rem;
}

.hero span,
a {
    padding: 1.5rem 0 !important;
}

.blink::after {
    content: "|";
    animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        content: "";
    }
}

.underline {
    height:100%;
    background: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
    background-size: 0 0.25em;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms ease-in-out;
}

.underline:hover,
.underline:focus {
    background-size: 100% 0.25em;
}

main {
    padding: 0rem 6rem;
    background: #0F0F0F;
}

main h1 {
    font-size: 2.5rem;
    font-weight: 200;
}

section {
    padding: 3rem 0;
    line-height: 2;
}

.lead {
    background-color: white;
    color: black;
    box-shadow: 0 0 0 100vmax #fff;
    clip-path: inset(0 -100vmax);
    padding: 3rem 0;
}

.resp {
    display: inline-flex;
}

.resp img {
    width: 100%;
    height: 15vw;
    padding-left: 5rem;
    filter:grayscale(0.5) hue-rotate(360deg);
    transition: filter 0.5s ease-in-out;
}

.resp img:hover {
    filter:grayscale(0);
}

footer {
    padding: 2rem;
    text-align: center;
    background-color: grey;
    color: black;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax_group {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 961px) {
    .hero h1 {
        font-size: 6.5rem;
        padding-top: 5rem;
    }

    .resp {
        display: block;
    }

    .resp img {
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        padding-top: 1rem;
    }
}

@media (max-width: 641px) {
    .hero h1 {
        font-size: 3.5rem;
    }
    main {
    padding: 0rem 3rem
}
}
